extends UILayout

block content
    div(class="Calendar")
        ul
            li December
        ul(class="days")
            li Mon 
            li Tue
            li Wed
            li Thu
            li Fri
            li Sat
            li Sun
        ul(class="nums")
            -var i = 0;
            while i < 31
                li(id=++i onclick='onClick(this.id, \"'+ person._id +'\")')=i


        h1=person.name

        script.
            function onClick (elementId, personId) {
                console.log(elementId)
                console.log(personId)
                window.location = "http://localhost:3000/Tasks/" + personId + "/" + elementId
            }


