html
    head 
        h1=title 
    body 
        form(method="post" action="http://localhost:3000/Login")
            p Username:
            <input type="text" name="Username" id="Username">
            br
            p Password:
                <input type="text" name="Password" id="Password">
            p 
                <input type="submit" onsubmit="">
            p 
                a(href="/ForgotCredentials") Forgot password or username?


//- extends UILayout 

//- .form
//-     input.form(
//-         class='form'
//-         method='post'
//-         action='/users/login'
//-     )
//-     label (
//-         for='inputUsername'
//-     ) Username
//-     input.inputUsername (
//-         type='text'
//-         name='username'
//-         id='username'
//-         placeholder="Username"
//-         required
//-     )
//-     label (
//-         for="password"
//-     ) Password
//-     input.inputPassword (
//-         type='password'
//-         name='password'
//-         id='password'
//-         placeholder="Password"
//-         required
//-     )