html
    head 
        h1=title  
    body 
        form(method="post" action="/signup")
            p Name:
            <input type="text" name="name" id="name">
            br
            p Email:
                <input type="text" name="email" id="email">
            
            p Username:
                <input type="text" name="username" id="username"> 

            p Password: 
                <input type="password" name="password" id="password">
            p      
                <input type="submit">







//- form( class='form' method='post' action='/users/SignUp')
//-     label( for = 'inputName') Name:
//-     input
//-         type = 'text'
//-         name = 'name'
//-         id = 'name'
//-         placeholder = 'Name'
//-         required
//-     )
//-     label (
//-         for='inputUsername'
//-     ) Username:
//-     input.inputUsername (
//-         type='text'
//-         name='username'
//-         id='username'
//-         placeholder="Username"
//-         required
//-     )
//-     label (
//-         for="password"
//-     ) Password:
//-     input.inputPassword (
//-         type='password'
//-         name='password'
//-         id='password'
//-         placeholder="Password"
//-         required
//-     )
//-         label (
//-         for = 'email'
//-     ) Email address:
//-     input.inputEmail (
//-         type = 'text'
//-         name = 'email'
//-         id = 'email'
//-         placeholder = 'Email address'
//-         required
//-     )
//-     label (
//-         for = "address"
//-     )
