extends UILayout
    div#TaskContainer
        h1#TaskTitle.FirstTaskTitle first task title!
        p#TaskBody.FirstTaskBody first task body!
    div#TaskContainer
        h1#TaskTitle.SecondTaskTitle second task title!
        p#TaskBody.SecondTaskBody second task body!
    div#TaskContainer
        h1#TaskTitle.ThirdTaskTitle third task title!
        p#TaskBody.ThirdTaskBody third task body!