html
    head 
    body 
        h1=title
        nav
            h1 Manager
            ul 
                li
                    a Home 
                li 
                    a Log in
                li 
                    a Friends
        div(class="Weekday")
            div Monday
            div Tuesday
            div Wednesday
            div Thursday
            div Friday
            div Saturday
            div Sunday