html
    head 
        link(href="/style.css" rel='stylesheet')
    body 
        h1=title
        nav
            h1 Manager
            ul 
                li
                    a Home 
                li 
                    a Log in
                li 
                    a Friends
    block content 